extends layout

block content
	.pinBox.pinWell
		picture
			source(srcset="https://images.remaxthailand.co.th/web/about/D01.webp", type="image/webp")
			source(srcset="https://images.remaxthailand.co.th/web/about/D01.png", type="image/png")
			img.img-responsive(src="https://images.remaxthailand.co.th/web/about/D01.png", alt="REMAX ก่อตั้งขึ้นในปี 2008 สำนักงานใหญ่ตั้งอยู่เมือง SHENZHEN จาก ประเทศฮ่องกง บริษัทเป็นผู้ผลิตและจำหน่ายสินค้าจำหน่าย Accessories Smartphone ไม่ว่าจะเป็น Leather Case, Protector Screen Guard, Power Bank, Audio Series, Cable, Charger โดยเน้นการออกแบบสินค้าให้โดดเด่นสวยงาม ทันสมัยและคุณภาพดี ให้ความสำคัญการรับประกันหลังการขาย เพื่อสร้างความมั่นใจแก่ผู้บริโภคมีสาขาและตัวแทนจำหน่ายกระจายอยู่ทั้งในและต่างประเทศ และมีตัวแทนอย่างเป็นทางการกระจายอยู่แต่ละทวีป ได้แก่ Switzerland, Canada, Russia Egypt, Czech, Israel,Hungary, Dubai, Saudi Arabia, Vietnam และในประเทศไทย Remax (Thailand) เป็นตัวแทนที่ได้รับการแต่งตั้งอย่างเป็นทางการ ให้นำเข้าและจัดจำหน่ายสินค้าภายใต้ตราสินค้า REMAX")
		picture
			source(srcset="https://images.remaxthailand.co.th/web/about/D02.webp", type="image/webp")
			source(srcset="https://images.remaxthailand.co.th/web/about/D02.png", type="image/png")
			img.img-responsive(src="https://images.remaxthailand.co.th/web/about/D02.png", alt="Remax (Thailand)เราคือบริษัทตัวแทนจำหน่ายสินค้าอุปกรณ์เสริมสำหรับโทรศัพท์มือถือและคอมพิวเตอร์ยี่ห้อชั้นนำ โดยปัจจุบันเราได้รับการแต่งตั้งอย่างเป็นทางการให้จัดจำหน่ายแบรนด์คุณภาพ ดังต่อไปนี้ Smartphone Accessories REMAX , Bluetooth headset ROMAN, Computer Accessories ATAKE,HI-POWER,Tablet VIDO")
		picture
			source(srcset="https://images.remaxthailand.co.th/web/about/D03.webp", type="image/webp")
			source(srcset="https://images.remaxthailand.co.th/web/about/D03.png", type="image/png")
			img.img-responsive(src="https://images.remaxthailand.co.th/web/about/D03.png", alt="บริษัทฯ ได้ขยายแนวทางธุรกิจเพื่อตอบรับกับตลาด IT และ Smartphone ที่เติบโตขึ้นอย่างต่อเนื่อง โดยได้รับแต่งตั้งให้เป็นตัวแทนจำหน่ายสินค้าชั้นนำที่ มีชื่อเสียง เพิ่มอีกหลายแบรนด์ทางบริษัทมีความมุ่งมั่นที่จะสรรหาผลิตภัณฑ์คุณภาพดี ราคาย่อมเยา และการบริการหลังขายที่ดีเยี่ยมเพื่อตอบสนองความพึงพอใจของลูกค้าทุกท่าน สินค้าที่จัดจำหน่าย Accessories Smartphone Protector Screen Guard Audio Series Power Bank Leather Case Mouse/keyboard Cable/Charger")
			
			