extends layout

block content
	.pinBox.pinWell.padding-10
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				picture
					source(srcset="https://images.remaxthailand.co.th/web/warranty/condition-01.webp", type="image/webp")
					source(srcset="https://images.remaxthailand.co.th/web/warranty/condition-01.png", type="image/png")
					img.img-responsive(src="https://images.remaxthailand.co.th/web/warranty/condition-01.png")

